[submodule "range-v3"]
	path = third_party/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "benchmark/nonius"]
	path = benchmark/nonius
	url = https://github.com/libnonius/nonius
[submodule "benchmark/unilib"]
	path = benchmark/unilib
	url = https://github.com/ufal/unilib
[submodule "benchmark/ogonek"]
	path = benchmark/ogonek
	url = https://github.com/rmartinho/ogonek
[submodule "third_party/text_view-range-v3"]
	path = third_party/text_view-range-v3
	url = https://github.com/tahonermann/text_view-range-v3
